<section data-ng-init="vm.find('ipod')">
    <div class="page-header">
        <h1>Productos de Mercadolibre</h1>
        <hr/>
        <form action="" id="search-products">
            <label for="product">Buscar producto:</label>
            <input type="text" id="product" placeholder="ej: ipod" data-ng-model="vm.findBy"/>
            <input type="submit" class="ch-btn" value="Buscar" data-ng-click="vm.find(vm.findBy)" prevent-default/>
            <span class="ch-loading-big" ng-show="true"></span>
        </form>
        <hr/>
    </div>
    <div class="list-group" data-ng-if="vm.items && vm.items.length">
        <a data-ng-repeat="item in vm.items" data-ng-href="/#!/melis/{{item.id}}" class="list-group-item ch-box-lite">
            <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
            <figure>
                <img data-ng-src="{{item.thumbnail}}" alt="{{item.title}}"/>
            </figure>
        </a>
    </div>
</section>