<section data-ng-init="vm.find('ipod')">
  <div class="page-header">
    <h1>Productos de Mercadolibre</h1>
    <form action="" id="search-products">
        <input type="text" data-ng-model="vm.findBy"/>
        <input type="submit" value="Buscar" data-ng-click="vm.find(vm.findBy)" prevent-default/>
    </form>
  </div>
  <div class="list-group" data-ng-if="vm.items && vm.items.length">
    <a data-ng-repeat="item in vm.items" data-ng-href="/#!/melis/{{item.id}}" class="list-group-item">
        <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4> <input type="button" value="ver">
    </a>
  </div>
</section>