<main>
    <a ui-sref="melis.list">Atrás</a>
    <header class="bg-great-info" >
        <h1 itemprop="name" class="" data-ng-show="vm.item"> {{::vm.item.title}}
 			<!--<span>
 				<div class="fb-like fb_iframe_widget"
                     data-href="http://articulo.mercadolibre.com.ar/MLA-582525904-nueva-imac-me086-2014-apple-215-i5-32ghz-8gb-ram-1tb-wifi-_JM"
                     data-send="false" data-action="like" data-layout="button" data-width="250" data-show-faces="true"
                     data-font="arial" fb-xfbml-state="rendered"
                     fb-iframe-plugin-query="action=like&amp;app_id=175268255910551&amp;container_width=75&amp;font=arial&amp;href=http%3A%2F%2Farticulo.mercadolibre.com.ar%2FMLA-582525904-nueva-imac-me086-2014-apple-215-i5-32ghz-8gb-ram-1tb-wifi-_JM&amp;layout=button&amp;locale=es_LA&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250">
 					<span style="vertical-align: bottom; width: 73px; height: 20px;">
 						<iframe name="f1eb4723cc" width="250px" height="1000px" frameborder="0" allowtransparency="true"
                                allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin"
                                src="http://www.facebook.com/v2.3/plugins/like.php?action=like&amp;app_id=175268255910551&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FwjDNIDNrTQG.js%3Fversion%3D41%23cb%3Df157bd0c1%26domain%3Darticulo.mercadolibre.com.ar%26origin%3Dhttp%253A%252F%252Farticulo.mercadolibre.com.ar%252Ff31ca5a4fc%26relation%3Dparent.parent&amp;container_width=75&amp;font=arial&amp;href=http%3A%2F%2Farticulo.mercadolibre.com.ar%2FMLA-582525904-nueva-imac-me086-2014-apple-215-i5-32ghz-8gb-ram-1tb-wifi-_JM&amp;layout=button&amp;locale=es_LA&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250"
                                style="border: none; visibility: visible; width: 73px; height: 20px;" class=""></iframe>
 					</span>
                </div>
 				<div id="fb-root" class=" fb_reset">
                    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                        <div></div>
                    </div>
                    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
                        <div>
                            <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no"
                                    title="Facebook Cross Domain Communication Frame" aria-hidden="true" tabindex="-1"
                                    id="fb_xdm_frame_http"
                                    src="http://static.ak.facebook.com/connect/xd_arbiter/wjDNIDNrTQG.js?version=41#channel=f31ca5a4fc&amp;origin=http%3A%2F%2Farticulo.mercadolibre.com.ar"
                                    style="border: none;"></iframe>
                            <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no"
                                    title="Facebook Cross Domain Communication Frame" aria-hidden="true" tabindex="-1"
                                    id="fb_xdm_frame_https"
                                    src="https://s-static.ak.facebook.com/connect/xd_arbiter/wjDNIDNrTQG.js?version=41#channel=f31ca5a4fc&amp;origin=http%3A%2F%2Farticulo.mercadolibre.com.ar"
                                    style="border: none;"></iframe>
                        </div>
                    </div>
                </div>
 			</span>-->
        </h1>
        <dl class="item-data" data-ng-show="vm.item">
            <dt class="icon icon-label">Tipo de artículo:</dt>
            <dd> Artículo {{vm.item.condition === "new" ? 'nuevo' : "usado" }}</dd>
            <dt class="icon icon-cart">Vendidos:</dt>
            <dd> {{::vm.item.sold_quantity}}</dd>
        </dl>
    </header>

    <section class="short-description bg-great-info" id="shortDescription" data-ng-show="vm.item">
        <meli-carouser ng-if="vm.item" item="vm.item"></meli-carouser>

        <!--FORM-->
        <form action="" class="product-info" id="productInfo" method="get">
            <fieldset>
                <legend>Precio</legend>
                <article class="price ch-price "><strong ng-bind-html="::vm.item.base_price | currency | meliPrice"></strong></article>
            </fieldset>
            <!-- Cuotas MP -->
            <fieldset>
                <legend class="icon ico-pay-methods ">Medios de pago</legend>
                <article class="pay-methods-row pay-without-mp" style="display: none;" aria-label="ch-modal-2"><p
                        id="nonMPPaymentMethodsBlock" class="highlight-info">Pago a acordar con el vendedor.</p><a
                        href="#">Modificar.</a></article>
                <article class="pay-methods-row pay-with-mp" aria-label="ch-modal-3"><p><strong class="detail-price"
                                                                                                id="installments"> 12
                    cuotas de <span class="ch-price" ng-bind-html="::vm.item.base_price | dueCalculator | currency  |meliPrice"></span> </strong> <strong
                        id="installmentsWithoutInterestText" class="stand-out" style="display:none;"> Sin
                    interés </strong> <span id="withInstallmentText" style="">	con <strong
                        class="mp">MercadoPago</strong>	</span></p>

                    <div class="selected-payment-methods"><p><span class="cards">	<span id="cardFromCombo"
                                                                                           class="cards"
                                                                                           style="display:none;"></span>	</span>
                        <span id="withBankImg" class="promo-bank ch-hide">	<span id="bankImg"></span>	</span></p>
                    </div>
                    <ul id="defaultPaymentLogos" class="cards cards-list">
                        <li><span class="payments-small _visa-small"></span></li>
                        <li><span class="payments-small _master-small"></span></li>
                        <li><span class="payments-small _amex-small"></span></li>
                    </ul>
                    <a class="morePaymentsBlock more-info" id="morePayments" href="#" title="Ver otros medios">Más
                        opciones</a></article>
            </fieldset>
            <fieldset class="shipment-methods-fildset">
                <legend class="icon ico-shipment-methods ico-shipment-methods-free">Formas de envío</legend>
                <article class="shipment-methods">
                    <div id="quantityError" class="ch-hide"></div>
                    <p id="destination"
                       data-default-text="<strong class='stand-out' >Envío gratis a todo el país</strong> por <strong>MercadoEnvíos</strong>"
                       data-default-subtext="Conoce los tiempos y las formas de envío."
                       data-default-leyend="Calcular cuándo llega" data-default-subfixedtext=""><strong
                            class="stand-out">Envío gratis</strong> por <strong>MercadoEnvíos</strong></p>

                    <p class="send-time"> <!-- Complement Info --> <span id="extraInfo"></span> <span id="sendTime">Lo retiras en sucursal OCA a partir del martes <strong>3
                        de noviembre</strong>.</span></p> <a class="more-info" id="shipLay" href="#"
                                                             aria-label="ch-modal-4"> Modificar </a>
                </article>
            </fieldset>
            <fieldset class="action">
                <div class="stock-quantity ">
                    <label for="productStockQuantity">Cantidad: </label>

                    <div class="stock-quantity-inputs" data-component="quantitySelector">
                        <input class="stock-quantity-increments" ng-class="{'stock-quantity-increments-disabled': (vm.build.qRequired <= 1)}" type="button"
                               name="pop" value="-" ng-click="vm.addOrRemove('remove')">
                        <input id="productStockQuantity" class="stock-quantity-input" data-validate="number"
                               name="quantity" type="number" min="1" max="22" title="Cantidad de unidades" value="1"
                               autocomplete="off" ng-model="vm.build.qRequired">
                        <input class="stock-quantity-increments" type="button" name="push" value="+" ng-click="vm.addOrRemove('add')" ng-class="{'stock-quantity-increments-disabled': (vm.build.qRequired == vm.item.available_quantity)}">
                    </div>
                    <span class="unit-measure"></span>

                    <p id="stockAvailableGeneric" class="stock-available" style="color: #D90000; display: none">
                        Superaste el límite de stock disponible.</p></div>
                <div class="action-row">
                    <input type="submit" title="Comprar Smart Tv Led Hd Ken Brown 32 Kb-32-2260 Wi-fi, 2 Hdmi"
                           value="Comprar" class="ch-btn ch-btn-big" id="BidButtonTop" data-prevent-default="" data-ng-click="vm.buyItem()">
                    <ul class="socialOptions">
                        <li id="bookmarkMessage"><a class="favorite ch-points-ltlb" id="bookmark" data-id="MLA582390533"
                                                    href="#" title="Agregar a favoritos"
                                                    aria-describedby="ch-tooltip-15"> <i class="ch-icon-heart"></i> </a>
                        </li>
                        <li>
                            <a id="fbShare" href="" title="Compartir en Facebook" aria-describedby="ch-tooltip-16"
                               class="ch-points-ltlb">Compartir en Facebook</a>
                        </li>
                        <li>
                            <a class="quest scroll-to ch-points-ltlb" id="makeQuest" href="#questions"
                               title="Hacer una pregunta" aria-describedby="ch-tooltip-17">
                                <span class="ch-hide">Hacer una pregunta</span>
                                <i class="ch-icon-comment"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END action-row -->
            </fieldset>
            <div class="buyer-protection">
                <div class="warranty-small">
                    <p><a href="http://ayuda.mercadolibre.com.ar/ayuda/Compa_Protegida_986">Compra Protegida</a> con
                        MercadoPago</p>

                    <p>Recibe el producto que compraste o te devolvemos tu dinero.</p>
                </div>
            </div>
        </form>
    </section>
</main>
