<div class="product-gallery-container" id="productGalleryCollection">
    <figure id="gallery_dflt" class="product-gallery thumbs-col-1 ch-points-ltrt ch-enlarge"
            style="min-height: 500px" ng-repeat="pic in item.pictures">

        <input type="radio" id="{{'thumbgallery_dflt-' + $index}}" name="product-gallery-thumbnail">
        <label for="{{'thumbgallery_dflt-' + $index}}">
            <i class="ch-icon ch-icon-search"></i>
            <img ng-src="{{pic.url}}" width="40" height="40">
        </label>
        <div style="min-height: 500px">
            <noscript><img itemprop="image" ng-src="{{pic.url}}" ng-alt="{{item.title}}"></noscript>
            <img ng-aria-posinset="{{$index}}" ng-alt="{{item.title}}"
                 data-ng-data-enlarge="{{pic.url}}"
                 ng-src="{{pic.url}}"
                 ng-data-fixed-img="{{pic.url}}"
                 title="{{item.title}}">
        </div>
`
        <a href="#" id="arrowPrev" title="Anterior"><i class="ch-icon-chevron-left"></i></a>
        <a href="#" id="arrowNext" title="Siguiente"><i class="ch-icon-chevron-right"></i></a>

    </figure>
</div>