body {
  background-color: #f4f4f4;
}
.list-group {
  width: 100%;
}
.list-group a {
  display: inline-block;
  width: 17%;
  margin: 0.5%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.loading-container {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}
.loading-container .loading-text-description {
  margin: 10px;
  width: 100%;
  display: block;
}
.ch-loading-big {
  background-image: url(/lib/chico/dist/assets/loading-big.gif);
  width: 36px;
  height: 36px;
  display: inline-block;
}
.product-info {
  display: inline-block;
  text-align: left;
}
.bg-great-info {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 20px 10px;
  text-align: center;
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 1020px;
}
.bg-great-info h1 {
  text-indent: 70px;
  font-size: 2.3em;
  line-height: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  margin: 10px 0 0;
}
.bg-great-info h1 span {
  width: 75px;
  height: 20px;
  text-indent: 0;
  display: inline-block;
}
.bg-great-info h1 span .fb_iframe_widget {
  line-height: 20px;
  width: 75px;
  height: 20px;
  padding-left: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.bg-great-info .item-data {
  margin: 10px 0 0 0;
  line-height: 22px;
}
.bg-great-info .item-data .icon {
  overflow: hidden;
  text-indent: -999px;
  background: url(http://vip.mlstatic.com/css/assets/vip-sprite-min-14__va491dc1554f.png) no-repeat 0 0 transparent;
  display: inline-block;
  height: 25px;
  position: relative;
  width: 35px;
}
.bg-great-info .item-data .icon-label {
  background-position: -62px -195px;
  height: 13px;
  width: 14px;
}
.bg-great-info .item-data .icon-cart {
  background-position: -62px -211px;
  height: 14px;
  width: 15px;
}
.bg-great-info .item-data,
.bg-great-info .subtitle {
  line-height: 1em;
  position: relative;
}
.bg-great-info .item-data:after,
.bg-great-info .subtitle:after,
.bg-great-info .item-data:before,
.bg-great-info .subtitle:before {
  border-bottom: 1px solid #ddd;
  bottom: .4em;
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  width: 7em;
}
.bg-great-info .item-data:before,
.bg-great-info .subtitle:before {
  left: -8.1em;
}
.bg-great-info .item-data:after,
.bg-great-info .subtitle:after {
  right: -7.9em;
}
.bg-great-info dl,
.bg-great-info dd,
.bg-great-info dt {
  display: inline-block;
  vertical-align: middle;
}
.product-gallery-container {
  display: inline-block;
  min-height: 550px;
  min-width: 600px;
}
.product-gallery-container .product-gallery {
  position: relative;
}
.product-gallery-container input {
  display: none;
}
.product-gallery-container .box {
  display: none;
  padding: 0 20px;
  margin: 0 10px;
  position: absolute;
  top: 0px;
  left: 30px;
}
.product-gallery-container .box #arrowPrev {
  position: absolute;
  left: 20px;
  top: 45%;
}
.product-gallery-container .box #arrowNext {
  position: absolute;
  right: 20px;
  top: 45%;
}
.product-gallery-container .content {
  display: inline-block;
  vertical-align: top;
}
.product-gallery-container .content label {
  width: 40px;
  height: 40px;
  margin: 0 10px 10px;
}
.product-gallery-container .content label i {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  visibility: hidden;
  z-index: 10;
  margin: 0;
}
.product-gallery-container .content label img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
.product-gallery-container .content label:hover i {
  visibility: visible;
}
.product-gallery-container .content label:hover i:before {
  padding: 13px;
}
.product-gallery-container .example:checked ~ .box,
.product-gallery-container .example:checked + .content .box,
.product-gallery-container .lt-ie9 .box {
  display: block;
}
.product-gallery-container .example:checked ~ .box img,
.product-gallery-container .example:checked + .content .box img,
.product-gallery-container .lt-ie9 .box img {
  width: 500px;
  height: 500px;
}
