body {
  background-color: #f4f4f4;
}
.list-group {
  width: 100%;
}
.list-group a {
  display: inline-block;
  width: 18%;
  margin: 1%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.loading-container {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}
.loading-container .loading-text-description {
  margin: 10px;
  width: 100%;
  display: block;
}
.ch-loading-big {
  background-image: url(/lib/chico/dist/assets/loading-big.gif);
  width: 36px;
  height: 36px;
  display: inline-block;
}
